.contenido {
  margin-left: 70px;
  margin-top: 10px;
  margin-bottom: 35px;
  height: 80vh;
}

.contenido h1 {
  padding-top: 15px;
}

p.intro {
  font-size: 1em;
  text-align: justify;
}

.elPanel h1 {
  font-size: 3em;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 100;
  padding: 10px;
  text-align: center;
  font-family: 'Bebas Neue', cursive;
}