.wrapsecciones {
  padding: 0 60px;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 20px;
}

.secciones {
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  background: rgba(0,0,0,0.3);
  min-height: 70px;
  text-decoration: none;
  transition: all 1s ease-in-out;
  border: 1px solid #000;
}

.secciones:hover {
  background: #000;
}

.App-header .secciones h2 {
  text-align: left;
  font-weight: 100;
  font-size: 0.7em;
  text-transform: uppercase;
  font-size: 0.6em;
  color: #ffffff;
  font-family: 'Alatsi', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
    padding: 5px 10px 0 10px;
    line-height: normal;
}

.App-header .secciones p {
  text-align: left;
  font-weight: 100;
  font-size: 0.4em;
  font-family: 'Muli', sans-serif;
  color: #ffffff;
  padding: 5px 10px;
  margin-bottom: 0;
}
.tickerCarou .secciones {
  padding: 5px;
  background: rgba(0,0,0,0.2);
  max-height: 50px;
  overflow: hidden;
}
.tickerCarou .secciones h2 {
  font-size: 0.7em;
  color: #ffffff;
  padding: 2px;
  padding-left: 5px;
  padding-top: 5px;
}

.cajaimagen {
  width: 100px;
  height: 100px;
  overflow: hidden;
  background-position: center center;
}

.cajaimagen img {
  width: 200px;
  margin-left: -50px;
}

.carousel-control.left, .carousel-control.right {
  background-image: none !important;
}