.wrapsecciones {
  padding: 0 60px;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 20px;
}

.secciones {
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  background: rgba(0,0,0,0.3);
  min-height: 70px;
  text-decoration: none;
  transition: all 1s ease-in-out;
  border: 1px solid #000;
}

.secciones:hover {
  background: #000;
}

.App-header .secciones h2 {
  text-align: center;
  font-weight: 100;
  font-size: 1em;
  text-transform: uppercase;
  font-size: 0.6em;
  color: #ffffff;
  font-family: 'Alatsi', sans-serif;
  margin: 0;
  padding: 0;
}