.ticker {

  width: 100%;
  font-size: 1em;
  border-top: 1px solid #1B3958;
  border-bottom: 1px solid #1B3958;
}

.ticker__element {
  padding: 10px;
}

.ticker__element p {
  color: #ffffff !important;
  margin: 0;
  padding: 0;
  font-size: 0.7em;
}