.navbar {
  background: #111111;
}
.navbar-brand img {
  width: 150px;
  margin-left: 10px;
}
.dropdown.nav-item {
  border: 1px solid #ccc;
}
.form-inline .form-control {
  flex: 1;
}
form.form-inline {
  width: 100%;
}
.dropdown-item {
  padding: 10px 15px;
  border-bottom: 1px solid #ccc;
}

.navbar .fecha {
  display: flex;
  flex-direction: column;
  text-align: right;
  align-items: center;
  justify-content: center !important;
}

.navbar .fecha p {
  color: #ffffff;
  font-size: 0.8em;
  font-weight: 100;
  text-align: right;
  width: 100%;
  margin-bottom: 0;
}

.navbar .fecha h3 {
  font-size: 1.5em;
  color: #ffffff;
  width: 100%;
  padding: 0;
  margin: 0;
  font-weight: 800;
}

.fechahora {
  font-family: 'Bebas Neue', cursive;
}